{% load static %}
<header class="home-header">
  <div class="row">
    <div class="col-12" align="center">
      <a href="{% url 'posts-app:posts-list' %}">
        <img class="img-fluid" src="{% static 'img/header_img.jpg' %}" alt="header-img">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12" align="center">
      <a class="home-header-title shadowsintolight-text" href="{% url 'posts-app:posts-list' %}">To Infinity And Beyond</a>
    </div>
  </div>
  <div class="row titillium-text">
    <div class="col-12" align="center">
      {% if user.is_authenticated %}
        <p> Welcome <a href="{% url 'posts-app:posts-list-author' author=user.username %}">{{ user.username }}</a></p>

      {% endif %}
    </div>
  </div>
</header>
