<nav class="navbar navbar-expand-lg navbar-light bg-light nav-font titillium-text nav-position">
  <a class="" href="{% url 'posts-app:posts-list' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Tags<span class="sr-only">(current)</span></a>
      <form method='GET' action='' class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='q' value='{{request.GET.q}}'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'posts-app:post-create' %}">New Post</a><br>
        <br>
      {% endif %}
    </div>
  </div>
</nav>
<!-- Search form -->
