/* Variables */
:root{
  --color-0:#fafcfd;
  --color-1:#D6E8EE;
  --color-2:#97CADB;
  --color-3:#018ABE;
  --color-4:#02457A;
  --color-5:#001B48;
}

/* Fonts */
    .shadowsintolight-font {font-family: 'Shadows Into Light', cursive;}
    .titillium-font{font-family: 'Titillium Web', sans-serif;}
    .nounderline{text-decoration: none !important}

/* Size */
  /* home_header */
    .home-header-title{font-size: 3rem;}
    .home-header-subtitle{font-size: 1.2rem;}
  /* home_navbar */
    .nav-font, .navbar-brand{font-size: 1rem;}
  /* posts_list */
    .posts-list-title{
      font-size: 2rem;
      font-weight: bold;}
    .post-author-date{font-size: 0.8rem;}
  /* Tags_page*/
    .tag-page-title{
      font-size: 2rem;
      font-weight: bold;}
    .tag-letter-sort{font-size: 1rem;}
  /* home_footer */
    .text-muted{font-size: 0.8rem;}
  /* post_delete */
    .delete-confirmation{font-size: 1rem;}
  /* mentions legales */
    .mentions-title{font-size: 2rem;}
    .mentions-subtitle{font-size: 1.2rem;}
    .raw-text{font-size: .8rem;}

/* Color */
  /* home_header */
    a.home-header-title, a.home-header-title:link, a.home-header-title:visited{color: var(--color-4);}
    .home-header-subtitle{color: var(--color-3);}
  /* home_navbar */
    .navbar{background-color: #FFFFFF;}
    .nav-font{color: var(--color-5);}
    .form-control{
        border: 1px solid var(--color-2);}
    .btn-outline-secondary {
        color: var(--color-2);
        border-color: var(--color-2);}
    .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
      color: #FFFFFF;
      background-color: var(--color-2);
      border-color: var(--color-2);}
    /* posts_list */
      a.link-in-black, a.link-in-black:link, a.link-in-black:visited{color: #000000;}
      a.link-color-5, a.link-color-5:link, a.link-color-5:visited{color: var(--color-5);}
      .jumbotron{background-color: var(--color-0);}
      a.posts-list-title, a.posts-list-title:link, a.posts-list-title:visited{color: var(--color-5);}
      .badge-info {
        color: #FFFFFF;
        background-color: var(--color-3);}


/* Position */
  /* general */
    hr.divider-navbar{
      margin-top: .1rem;
      margin-bottom: .1rem;
      border: 0;
      border-top: 2px solid var(--color-4);}
  /* home_navbar */
    .nav-position{
      align-items: center;
      display: flex;}
    .navbar{
      padding: .5rem;
      border-radius: .5rem;}
  /* home_create */
    .django-ckeditor-widget{
      width: 100% !important;}
  /* posts_list */
    .pagination_syc{text-align: center;}
    .jumbotron{
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-radius: .5rem;}


/* MEDIA QUERIES TAGS */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
}

/* Small devices (sm) (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (md) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (lg) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (xl) (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
