/* Fonts */
  /* home_header */
    .shadowsintolight-text {font-family: 'Shadows Into Light', cursive;}
  /* posts_list */
    .titillium-text{font-family: 'Titillium Web', sans-serif;}

/* Size */
  /* home_header */
    .home-header-title{font-size: 3rem;}
  /* home_navbar */
    .nav-font{font-size: 1rem;}

  /* posts_list */
    .posts-list-title{font-size: 2rem;}
    .jumbotron-author-date{font-size: 0.8rem;}
  /* home_footer */
    .text-muted{font-size: 0.8rem;}

/* Color */
  /* home_header */
    a.home-header-title, a.home-header-title:link, a.home-header-title:visited{
    color: #000000;}
  /* posts_list */
    a.link-in-black, a.link-in-black:link, a.link-in-black:visited{
    color: #000000;}
    a.posts-list-title, a.posts-list-title:link, a.posts-list-title:visited{
    color: #000000;}
  /* home_footer */
    a.home-footer-link, a.home-footer-link:link, a.home-footer-link:visited {
    color: #000000;}


/* Position */
  /* home_navbar */
  .nav-position{
    align-items: center;
    display: flex;}
  /* posts_list */
    .pagination_syc{text-align: center;}
    .jumbotron{
      margin-bottom: 0.5rem;
      background-color: #ebf0fa;
      padding: 0.5rem;}


/* MEDIA QUERIES TAGS */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
}

/* Small devices (sm) (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (md) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (lg) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (xl) (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
