{% extends "base.html" %}

{% block head_title %} {{ block.super }} | lists of posts {% endblock head_title %}
  <body>
    {% block content %}
      <div class="jumbotron jumbotron-fluid titillium-text">
        <div class="container post-detail-item">
          <div class="row justify-content-md-center">
            {% if request.user == object.user  %}
              <a href="{% url 'posts-app:post-update' slug=post.slug %}">
                <button type="button" class="btn btn-light">Update</button>
              </a>
              &nbsp;
              <a href="{% url 'posts-app:post-delete' slug=post.slug %}">
                <button type="button" class="btn btn-light">Delete</button>
              </a>
              &nbsp;
            {% endif %}
            <a href="{% url 'posts-app:posts-list' %}">
              <button type="button" class="btn btn-light">Back to post lists</button>
            </a>
          </div>
          </br>
          <div class="row justify-content-md-center">
            <h1 class="display-4">{{ object.title }}</h1>
          </div>
          <div class="row">
            {% for tag in object.tags.all %}
              <a href="#" class="mr-1 badge badge-info">{{ tag }}</a>
            {% endfor %}
          </div>
          <p class='jumbotron-author-date'>By <a class="link-in-purple" href="{% url 'posts-app:posts-list-author' author=post.user %}"><b>{{object.user}}</b></a> le {{object.timestamp|date:"d/m/y"}}</p>
          {% if post.draft %}
            <span style='color:red;'>Draft</span>
          {% endif %}
          <p class="lead">{{ post.get_markdown }}</p>
        </div>
      </div>


    {% endblock content %}
  </body>
