{% extends "base.html" %}

{% block head_title %} {{ block.super }} | lists of posts {% endblock head_title %}
  <body>
    {% block content %}
      <h1>{{ object.title}}</h1>
      <br>
      <p> {{ object.content }}</p>
      <p> Published : {{ object.timestamp }}</p>
      <p> Updated : {{ object.updated }}</p>

      {% if user.is_authenticated %}
        <a href="{% url 'posts-app:post-update' slug=post.slug %}">Update this post</a><br>
        <a href="{% url 'posts-app:post-delete' slug=post.slug %}">Delete this post</a><br>
        <br>
      {% endif %}

      <a href="{% url 'posts-app:posts-list' %}">Back to posts list</a>

    {% endblock content %}
  </body>
