{% extends "base.html" %}
{% load static %}

{% block head_title %} {{ block.super }} | Home {% endblock head_title %}
  <body>
    {% block content %}
      {% for post in object_list %}
      <div class="jumbotron jumbotron-fluid titillium-text">
        <div class="container post-detail-item">
          <h1 class="display-4">
            <a class="titillium-text posts-list-title" href="{% url 'posts-app:post-detail' slug=post.slug %}">{{ post.title }}</a>
          </h1>
          <p class='jumbotron-author-date'>By <a class="link-in-purple" href="{% url 'posts-app:posts-list-author' author=post.user %}"><b>{{post.user}}</b></a> le {{post.timestamp|date:"d/m/y"}}</p>
          {% if post.draft %}
            <span style='color:red;'>Draft</span>
          {% endif %}
          <p class="lead">{{ post.get_markdown|truncatechars_html:50 }}</p>
        </div>
      </div>
      {% empty %}
        <li>No posts yet !</li>
      {% endfor %}
      <!-- Pagination -->
      <div class="row">
        <div class="col-12">
          <div class="pagination_syc">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1&q={{request.GET.q}}">first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}"> | previous</a>
              {% endif %}
            <span class="current">
              {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}">next | </a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}">last</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    {% endblock content %}
  </body>
