{% extends "base.html" %}
{% load static %}

{% block head_title %} {{ block.super }} | Home {% endblock head_title %}
  <body>
    {% block content %}
      <div class="container text-center">
        <span class="text-muted"> Nombre d'articles : {{ nb_post_published }} </span>
      </div>
      {% for post in object_list %}
      <div class="jumbotron jumbotron-fluid titillium-font">
        <div class="container post-detail-item">
          <h1 class="display-4">
            <a class="posts-list-title titillium-text nounderline" href="{% url 'posts-app:post-detail' slug=post.slug %}">{{ post.title }}</a>
          </h1>
          {% if post.draft %}
              <h4 style='color:red;'>(Draft)</h4>
          {% endif %}
          <p class="post-author-date">By <a class="link-color-5" href="{% url 'posts-app:posts-list-author' author=post.user %}"><b>{{post.user}}</b></a> le {{post.publish|date:"d/m/y"}}</p>
          {% for tag in post.tags.all %}
            <a href="{% url 'posts-app:posts-list-bytag' tag_url=tag %}" class="mr-1 badge badge-info titillium-text">{{ tag }}</a>
          {% endfor %}
          <p class="lead">{{ post.get_markdown|truncatechars_html:150 }}</p>
        </div>
      </div>
      <hr class="divider-inter-posts">
      {% empty %}
        <h1 class="posts-list-title titillium-text"> No posts yet !</h1>
      {% endfor %}
      <!-- Pagination -->
      <div class="row">
        <div class="col-12">
          <div class="pagination_syc titillium-text">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a class="link-color-5" href="?page=1&q={{request.GET.q}}">first</a>
                <a class="link-color-5" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}"> | previous</a>
              {% endif %}
              <span class="current">
              {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                <a class="link-color-5" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}">next | </a>
                <a class="link-color-5" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{%endif%}">last</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    {% endblock content %}
  </body>
