{% extends "base.html" %}

{% block head_title %} {{ block.super }} | lists of posts {% endblock head_title %}
  <body>
    {% block content %}
      <h1>All tags</h1>
      {% for lettre in lettres%}
       {{ lettre}}
       {% for tag in tags %}
        {% if tag|make_list|first == lettre %}
          <a href="{% url 'posts-app:posts-list-bytag' tag_url=tag %}" class="mr-1 badge badge-info">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      <br>
      {% endfor %}
    {% endblock content %}
  </body>
